html, body{
	
	position: absolute;
	
	padding: 0;
	margin: 0;
	
    width: 100%;
    height: 100%;
    
    color: #ffffff;
    /*background-color: #000000;*/

	background-color: #0e0e0e;

    font-family: 'Lato', sans;
    
}

a {
    font-weight: 700;
    transition: color 0.2s;
}

a:link {
    color: #777777;
    text-decoration: none;
}

a:visited {
    color: #777777;
}

a:hover {
    cursor: pointer;
    color: #ffffff;
}

a:active {
    color: #777777;
}

/*............................................. TITLE PAGE ........*/

#title{
	/*height: 20%;*/
	background-color: #000000;
	border-bottom: 2px solid #333333;
}

#content{
	padding: 0 40px;
	color: #cccccc;
	background-color: #0e0e0e;
	
	transition: 0.2s;
}


/*............................................. HEADERS ........*/

h1 {
	padding: 0;
	margin: 0;
	
	font-weight: 900;
	font-size: 44px;
}

h2 {
	color: #cccccc;
	
	padding: 0;
	margin: 0;
	
	font-weight: 700;
	font-size: 28px;
}

hr {
    margin: 8px 0;
	border: 1px solid #333333;
}

strong {
    font-weight: 900;
    color: #ffffff;
}

.table-wrapper {
	/*width: 600px; */
    /*overflow-x: scroll;*/
    overflow-y: visible;
    margin-left: 60px;

}

/*............................................. ICONS ........*/


@font-face {
  font-family: 'dev-icons';
  src: url('./dev-icons/dev-icons.eot');
  src: url('./dev-icons/dev-icons.eot?#iefix') format('embedded-opentype'),
       url('./dev-icons/dev-icons.woff') format('woff'),
       url('./dev-icons/dev-icons.ttf')  format('truetype'),
       url('./dev-icons/dev-icons.svg#svgFontName') format('svg');
}

.icon {
    font-size: 18px;
	display: inline-block;
	font-family: 'dev-icons';
}

.icon-tag {
    font-size: 17px;
    font-weight: 900;
	display: inline-block;
    font-family: 'Lato', sans;
}

/*............................................. TABLES & FORMS ........*/

table {
	border-collapse: collapse;
}

td {
	padding: 4px;
	text-align: right;
	width: 40px;
	/*border: 1px solid #333333;*/
}

.name_tag{
	color: #cccccc;
	font-weight: 700;
	width: 80px;
	
	position: absolute;
    left: -20px;
    top: auto;
}

.sol_tag{
	color: #cccccc;
	font-weight: 300;
    top: auto;
}

.AC {
	color: #00cc00;
}

.WA {
	color: #cc0000;
}

.NA {
	color: #444444;	
}

.pend {
	color: #666666;
}

/*............................................. INFO BLOKS ........*/

.infobox {
    padding: 12px;
    background-color: #0b0b0b;
}

.subtext {
    font-size: 11px;
    text-align: right;
}

.usericon {
    vertical-align: top;    
    background-color: #ffffff;
    
    overflow: hidden;
    display: inline-block;
    
    width: 100px;
    height: 100px;
}

.usericon img {
    width: 100%;
    height: 100%;
} 
